.container .row{
  align-items: center;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
}
.headline-left {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  letter-spacing:8px ;
}

.headline-center {
  color: #D7FB00;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    display: flex;
    justify-content: center;
    letter-spacing:8px ;
}



.contact-me .btn {
  padding: 10px 20px;
  border-radius: 24px;
  border: 2px solid #D7FB00;
  font-size: 16px;
  font-weight: 600;
  --bs-btn-hover-bg: #D7FB00;
  --bs-btn-hover-border-color: #D7FB00;
  color: #D7FB00;
  align-items: center;
}



.col-3 {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.col-9 {
  display: flex;
  align-items: center;
}

.container {
  padding: 5px;
}

.contact-me .btn:hover {
  color: #2C2C2C;
}

.contact-me .btn:first-child:active {
  --bs-btn-hover-bg: #96f18e;
  --bs-btn-hover-border-color: #96f18e;
}



