.footer{
    color: rgba(255, 255, 255, 0.53);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    line-height: 112%;
    justify-content: space-between;
    padding: 20px 40px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Extra small device */
@media only screen and (max-width: 600px) {
    .footer{
        font-size: 10px;
        padding: 20px 18px;
    }
    
}

/* Small Device */
@media only screen and (min-width:600px) {
    .footer{
        font-size: 12px;
        padding: 20px 18px;
    }
    
}

/* Medium Device */
@media only screen and (min-width:768px) {
    .footer{
        font-size: 14px;
        padding: 20px 25px;
    }
    
}

/* Large device */
@media only screen and (min-width:992px) {
    .footer{
        font-size: 16px;
        padding: 20px 35px;
    }
    
}

/* Extra Large Device */
@media only screen and (min-width:1200px) {
    .footer{
        font-size: 18px;
        padding: 20px 45px;
    }
    
}

@media only screen and (min-width: 1400px) {
    .footer{
        font-size: 20px;
        padding: 20px 60px;
    }
}